body{
  font-family:Arial,sans-serif;
  line-height: 1.5;
  margin:25px;
}
h1{
    color:darkblue;
    text-align:center;
}
img{
    width:200px;
    border-radius:50%;

}
input,textarea{
    padding:8px;
    margin-top:5px;
}